@import url(button.css);
@import url(user.css);
@import url(header.css);
@import url(body.css);

a {
    text-decoration: none;
    line-height: 14px;
}

.header__auth {
    flex: 1 0 auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;

    a.button {
        height: 14px;
    }
}

.news {
    display: flex;
    justify-content: center;
}

.news__form-title {
    font-size: 32px;
}

.news__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1000px;
}

.form-element {
    display: flex;
    flex-direction: column;

    label {
        color: #707070;
        font-size: 14px;
        line-height: 22px;
    }

    input, textarea, select {
        padding: 0;
        height: 56px;
        outline: 0px;
        border: 1px solid #E6E6E6;
        border-radius: 12px;
        color: #707070;
        font-size: 16px;
    }

    textarea {
        padding: 10px;
        min-height: 274px;
        resize: vertical;
    }

    .indent {
        text-indent: 10px;
    }
}
input[type="file"] {
    height: 48px;
    background-color: #C9C9C9;
}
input[type="file"].news__image::file-selector-button {
    padding: 12px 24px 12px 24px;
    height: 48px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #fff;
    text-decoration: none;
    outline: 0px;
    border: 0px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0077B6;
    margin-right: 15px;
}

.margin-inline-end {
    margin-inline-end: auto;
}