@import url(button.css);
@import url(user.css);
@import url(header.css);
@import url(body.css);

a {
    text-decoration: none;
    line-height: 14px;
}

.header__auth {
    flex: 1 0 auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;

    a.button {
        height: 14px;
    }
}

.news {
    display: flex;
    justify-content: center;
}

.news__container {
    width: 1000px;
}

.news__title {
    font-size: 32px;
}

.line-break {
    border: 1px solid #f0f0f0;
    margin-bottom: 24px;
}

.news__info {
    display: flex;
    gap: 16px;

    color: #3d3d3d;
    margin-bottom: 24px;

    & > * {
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        height: 48px;
        margin: 0;
        padding-inline: 16px;
    }

    p {
        line-height: 48px;
    }
}

.news__image {
    width: 100%;
    border-radius: 24px;
}

.news__content {
    color: #3d3d3d;
}

.fixed-buttons {
    position: fixed;
    bottom: 56px;
    right: 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 630px) {
    .news__container {
        max-width: 500px;
    }

    .news__info {
        & > * {
            border: 1px solid #E6E6E6;
            border-radius: 6px;
            height: 36px;
            margin: 0;
            padding-inline: 9px;
        }
    
        p {
            line-height: 36px;
        }
    }
}

@media (max-width: 1050px) {
    .fixed-buttons {
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
    }
}