@import url(button.css);
@import url(user.css);
@import url(header.css);
@import url(body.css);

a {
    text-decoration: none;
    line-height: 14px;
}

.header__auth {
    flex: 1 0 auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;

    a.button {
        height: 14px;
    }
}