@import url(button.css);
@import url(user.css);
@import url(header.css);
@import url(news.css);
@import url(body.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.fixed-button {
    position: fixed;
    bottom: 56px;
    right: 56px;
}

.addCategory-link button {
    cursor: pointer;
}

@media (max-width: 780px) {
    .header__user {
        display: none;
    }
    .fixed-buttons {
        position: fixed;
        bottom: 32px;
        right: 32px;
    }
    .fixed-button {
        position: fixed;
        bottom: 32px;
        right: 32px;
    }
}

@media (max-width: 1050px) {
    .news-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 28px;
    }
}